<h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p>

<% @listings.each do |listing| %>
<p> <%=link_to "#{listing.title}", listing_path(listing)%> </p>
<% end %>
<p><%=link_to "Home", user_path(current_user)%> </p>
